{% extends 'mechanics/base.html' %}    
{% load static %}
{% block style %}  
<link rel="stylesheet" href="{% static 'customers/css/login.css' %}">
{% endblock style %}

{% block title %} Customer Login {% endblock title %}


{% block body %}

    <div class="form-div">
        <h1>Welcome,</h1>
        <p class="desc">Log in to your Account</p>
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Log In">
            <!-- <p>Don't have a account <a href="{% url 'signup' %}">Sign up here</a></p> -->
        </form>
    </div>
{% endblock body %}